@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
/*----------------------------------------------------

theme

----------------------------------------------------*/
/*----------------------------------------------------

base

----------------------------------------------------*/
html {
  font-size: 62.5%; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #000;
  font-size: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  color: #fff; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.3em; }

li {
  list-style: none;
  letter-spacing: 1px; }

p {
  letter-spacing: 0.3em;
  color: #fff; }

/*----------------------------------------------------

layout

----------------------------------------------------*/
#root {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }

#l-navigation {
  background: black;
  position: fixed;
  transition: 0.5s ease-out;
  z-index: 10;
  background: grey;
  top: 0;
  right: 0; }

#l-main {
  margin-top: 206px; }

.l-top-header {
  margin: 0 0 124px 0; }

.l-top-container {
  margin: 86px 0 222px 0; }

.l-top-article_box {
  margin: 86px 0 0 0; }

.l-article_aside {
  position: fixed;
  bottom: 0;
  border-top: 1px #6b6b6b solid;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  z-index: 5; }

/*============================================================


                        module


============================================================*/
.navi-ul {
  width: 300px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50px; }

.navi-item {
  font-size: 2rem;
  margin-top: 50px;
  opacity: 0; }

.hamburger-menu {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 20px;
  top: 10px;
  z-index: 11;
  cursor: pointer; }

.hamburger-line {
  display: block;
  border: solid 1px #6b6b6b;
  position: absolute;
  top: 0;
  right: 0; }
  .hamburger-line:nth-of-type(2) {
    border: solid 1px #6b6b6b; }
  .hamburger-line:nth-of-type(3) {
    border: solid 1px #6b6b6b; }

.head-title {
  margin: 120px auto 50px;
  text-align: center;
  letter-spacing: 25px;
  overflow: hidden; }

.head-title_text {
  font-weight: 200;
  font-size: 3rem;
  color: #fff; }

.header-image {
  width: 200px;
  margin: 0 auto; }

.top-header_title, .top-footer_title {
  text-align: center;
  color: #6b6b6b;
  font-size: 3.6rem;
  letter-spacing: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 165px; }

.top-header_text {
  font-size: 1.5rem;
  color: #6b6b6b;
  text-align: center;
  line-height: 1.9; }

.top-section_title {
  font-weight: normal;
  font-size: 2.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 20px;
  line-height: 1; }

.main_section-title {
  text-align: center; }
  .main_section-title::before {
    content: "";
    display: block;
    max-width: 232px;
    max-height: auto;
    width: 100%;
    height: 232px;
    margin: 0 auto;
    background-image: url("../images/depression_main_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; }

.disaster .main_section-title::before {
  background-image: url("../images/disaster_main_image.jpg");
  background-position: center; }

.doom .main_section-title::before {
  background-image: url("../images/doom_main_image.jpg");
  background-position: bottom; }

.hideous .main_section-title::before {
  background-image: url("../images/hideous_main_image.jpg");
  background-position: bottom; }

.main_section-title_inner, .main_contents-title {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.5em;
  margin: 28px 0 25px;
  color: #fff;
  display: block; }

.main_section-caption {
  font-weight: normal;
  font-size: 1.5rem;
  color: #6b6b6b;
  text-align: center; }

.l-top-article_box {
  margin: 86px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.top-article_item {
  margin: 0px 85px 181px; }

.top-footer_title {
  position: static;
  transform: translateX(0%); }

.main_contents-title {
  text-align: center; }

.main_contents-image {
  max-width: 175px;
  max-height: none;
  width: 100%;
  height: auto;
  margin: 64px auto 30px;
  display: block; }

.aside_navigation-ul {
  justify-content: space-around;
  flex-wrap: nowrap;
  display: flex;
  max-width: 800px;
  max-height: none;
  width: 100%;
  height: auto;
  margin: 0 auto; }

.aside_navigation-li {
  color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  max-width: 200px;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  transition: 0.3s ease-in-out; }
  .aside_navigation-li:hover {
    cursor: pointer;
    background: grey;
    color: #000; }

.ppp {
  color: #fff; }

/*============================================================


                        state


============================================================*/
#l-navigation.is-navigation_open {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: grey; }
